* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
  
  body {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: #444;
    line-height: 1.9;
    background-color: #f3f3f3;
  }
/*Hero Image*/
.hero-image img {
  width: 100%;
  height: auto;
  object-fit: cover; 
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: rgb(249, 249, 249);
  margin-bottom: 60px;
}

.container_1{
  margin-right: 60px;
}

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 8%;

}

/*----NAVBAR----*/
nav{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  z-index: 2; 
  margin-left: 30px;
}

nav ul li{
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a{
  color: #3d3c3c;
  text-decoration: none;
  font-size: 18px;
  position: relative;
  color: #ffffff;
}

nav ul li a::after{
  content: '';
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

nav ul li a:hover::after{
  width: 100%;
}
nav .fa-solid{
  display: none;

  color: #fff;
}
.logo{
  color: #fff;
  margin-left: 30px;
}
#sidemenu{
  margin-left: 180px;
}

.btn{
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid #ff004f;
  padding: 8px 50px;
  border-radius: 6px;
  text-decoration: none;
  color: #f7f6f6;
  transition: background 0.5s;
  margin-right: 60px;
}
.btn:hover{
  background: #ff004f;
}

#hamburgerIcon {
  display: block;
  position: absolute;
  top: 60px;
  right: 20px;
  font-size: 25px;
  cursor: pointer;
}

@media only screen and (min-width: 601px) {
  #hamburgerIcon {
      display: none;

  }
}

#closeIcon {
  display: none;
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 25px;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  #closeIcon {
      display: block;
  }
}

/*column*/

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 28%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.column {
  width: calc(33.33% - 20px);
  background-color: #f2f2f2;
  padding: 20px;
  margin: 10px;
  transition: background-color 0.3s ease; 
}

.column:hover {
  background-color: #18266b;
  color: #f2f2f2;
}

@media screen and (max-width: 768px) {
  .column {
    width: 100%;
    margin: 0 0 20px 0;
  }
}


@media only screen and (max-width: 600px){
  #header{
      background-image: url(Images/banner.jpg);
  }
  .header-text{
      margin-top: 100%;
      font-size: 16px;
  }
  .header-text h1{
      font-size: 30px;
  }
  .big-heading {
    font-size: 24px;
    margin-bottom: 100%;
  }
  nav .fa-solid{
      display: block;
      font-size: 25px;
  }
  nav ul{
      background: #ff004f;
      position: fixed;
      top: 0;
      right: -200px;
      width: 200px;
      height: 100vh;
      padding-top: 50px;
      z-index: 2;
      transition: right 0.5s;
  }
  nav ul li{
      display: block;
      margin: 25px;
  }
  nav ul .fa-solid{
      position: absolute;
      top: 25px;
      left: 25px;
      cursor: pointer;
  }
}

/* FOOTER */
.footer {
  padding: 5rem 3rem;
  background-color: #1b2539;
}

.footer__nav {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
}

.footer__item {
  margin-right: 4rem;
}

.footer__link {
  font-size: 1.2rem;
  color: #eee;
  text-decoration: none;
}


.footer__copyright {
  font-size: 1.4rem;
  color: #aaa;
  text-align: center;
}

.footer__copyright .footer__link {
  font-size: 1.4rem;
}

/* For mobile devices */
@media screen and (max-width: 600px) {
  .footer {
    padding: 3rem 1rem; 
  }

  .footer__nav {
    flex-direction: column; 
    align-items: center; 
    margin-bottom: 3rem; 
  }

  .footer__item {
    margin-right: 0; 
    margin-bottom: 1rem; 
  }
}

/*Social Icon*/
.social-icons {
color: white; 
font-size: 24px; 
margin-right: 50%; 
margin-top: 10px;
}

.social-icons {
display: inline-block; 
}

.social-icons {
margin-right: 20px;
}

footer .social-icons {
margin-left: 48%;
}
.social-icons-space {
  display: inline-block;
  width: 10px; 
} 

/*Social Icon*/

.social-icon-space {
  display: inline-block;
  width: 10px; 
}
